<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4">Créer un compte</h3>
    <form (ngSubmit)="onSubmit()">
      <!-- Champ pour le nom d'utilisateur -->
      <div class="mb-3">
        <label for="name" class="form-label">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" placeholder="Entrez votre nom d'utilisateur" required>
      </div>
  
      <!-- Champ pour le mot de passe -->
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input placeholder="Entrez votre mot de passe à 6 chiffres" type="password" class="form-control" id="password" [value]="password" readonly (click)="setActiveField('password')">
      </div>

      <!-- Champ pour confirmer le mot de passe -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="confirmPassword" [value]="confirmPassword" readonly (click)="setActiveField('confirmPassword')">
      </div>

      <!-- Digicode pour le mot de passe et la confirmation du mot de passe -->
      <div class="mb-3">
        <div class="mb-3">
          <div class="row">
            <div class="col-4" *ngFor="let digit of passwordDigits" (click)="addDigit(digit)">
              <button *ngIf="digit !== null" type="button" class="btn btn-light w-100">{{ digit }}</button>
              <div *ngIf="digit === null" class="empty-button w-100"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bouton pour effacer les mots de passe -->
      <div class="mb-3 text-center">
        <button type="button" class="btn btn-danger" (click)="clearPasswords()">Effacer</button>
      </div>
  
      <!-- Bouton d'inscription -->
      <button type="submit" class="btn btn-dark w-100">S'inscrire</button>
    </form>

    <!-- Affichage du code d'inscription après soumission -->
    <div *ngIf="registrationCode" class="alert alert-success mt-3 text-center">
      <p>{{ registrationCode }}</p> <!-- Affiche le message ou le code d'inscription -->
    </div>

    <div class="text-center mt-3">
      <p>Déjà un compte ? <a href="/login">Se connecter</a></p>
    </div>
  </div>
</div>
