<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow-lg w-100" style="max-width: 500px;">
    <h5 class="mb-5 text-center">
      <i class="fas fa-plus-circle me-2"></i>
      Ouvrir un nouveau compte
    </h5>

    <form (ngSubmit)="createAccount()" [formGroup]="accountForm">
      <div class="mb-4">
        <label for="label" class="form-label">Label du Compte</label>
        <input type="text" class="form-control" id="label" formControlName="label" placeholder="Nom du compte">
      </div>

      <div class="mb-4">
        <label for="balance" class="form-label">Solde Initial</label>
        <input type="number" class="form-control" id="balance" formControlName="initialBalance" placeholder="0.00">
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="accountForm.invalid">
        Créer le compte
      </button>
    </form>
  </div>
</div>
