<!-- Contenu principal -->
<div class="container mt-5">
    <!-- Bouton Précédent -->
    <button class="btn btn-outline-primary mb-4" (click)="goBack()">
      <i class="fas fa-arrow-left"></i> Retour à l'Accueil
    </button>
  
    <div class="card shadow-lg">
      <div class="card-header bg-gradient">
        <h3><i class="fas fa-wallet"></i> Détails du Compte</h3>
      </div>
      <div class="card-body" *ngIf="accountDetails; else noData">
        <div class="account-info">
          <p><strong>ID :</strong> {{ accountDetails.id }}</p>
          <p><strong>Label :</strong> {{ accountDetails.label }}</p>
          <p><strong>Date de Création :</strong> {{ accountDetails.openAt | date:'dd/MM/yyyy' }}</p>
          <p><strong>Montant :</strong> <span class="amount">{{ accountDetails.balance | currency:'EUR' }}</span></p>
        </div>
      </div>
      <ng-template #noData>
        <p class="text-muted">Aucune information disponible pour ce compte.</p>
      </ng-template>
    </div>
  </div>
  