<div class="container">
    
    <button class="btn btn-outline-primary mb-4" (click)="goToHome()">
        <i class="fas fa-arrow-left me-2"></i> Retour à l'Accueil
      </button>

      <div class="transaction-card">
  
      <div class="alert alert-info info-alert">
        <strong>💡 Votre solde actuel est de {{ accountBalance | number:'1.2-2' }} €</strong>
      </div>
  
      <form (ngSubmit)="onSubmit()" #transactionForm="ngForm">
        
        <div class="mb-3">
          <label for="receiverAccountId" class="form-label">ID Compte Receveur</label>
          <input type="text" class="form-control" id="receiverAccountId" [(ngModel)]="receiverAccountId" name="receiverAccountId" placeholder="Entrez l'ID du compte">
        </div>
    
  
        <div class="mb-3">
          <label for="amount" class="form-label">Montant</label>
          <input type="number" class="form-control" id="amount" required [(ngModel)]="amount" name="amount" (input)="checkAmount()" placeholder="0.00">
        </div>
  
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" required [(ngModel)]="description" name="description" placeholder="Description de la transaction"></textarea>
        </div>
  
        <button type="submit" class="btn btn-primary w-100 confirm-btn" [disabled]="!transactionForm.form.valid || amountExceedsBalance || isSameAccount">
          Confirmer la Transaction
        </button>
      </form>
  
      <div *ngIf="amountExceedsBalance" class="alert alert-danger mt-3">
        Le montant dépasse le solde disponible.
      </div>
    </div>
  </div>
  