<div class="container">
     <div class="transaction-details-card">
         <h5 class="back-link" (click)="goToHome()">&larr; Détails de la Transaction</h5>
 
         <div class="d-flex justify-content-between align-items-center mb-3">
             <span class="text-muted">ID Transaction</span>
             <span class="fw-bold">#{{ transaction?.id }}</span>
         </div>
 
         <div class="d-flex align-items-center gap-3 mb-3">
            <!-- Émetteur -->
            <div>
              <span class="text-muted">Émetteur</span>
              <p class="fw-bold mb-0">
                {{
                  selectedAccount?.id === transaction.emitter.id
                    ? transaction.receiver.owner.name
                    : transaction.emitter.owner.name
                }}
              </p>
            </div>

            <!-- Avatar -->
            <div class="avatar bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center"
                 style="width: 40px; height: 40px;">
              {{ getInitials(
                selectedAccount?.id === transaction.emitter.id
                  ? transaction.receiver.owner.name
                  : transaction.emitter.owner.name
              ) }}
            </div>
          
            
          </div>
 
         <div class="mb-3">
             <span class="text-muted">Date</span>
             <p class="fw-bold mb-0">{{ transaction.emittedAt | date:'dd MMM yyyy HH:mm' }}</p>
         </div>
 
         <div class="mb-3">
             <span class="text-muted">Description</span>
             <p class="fw-bold mb-0">{{ transaction?.description }}</p>
         </div>
 
         <div class="mb-3">
             <span class="text-muted">Montant</span>
             <p class="fw-bold text-success mb-0">€{{ transaction?.amount }}</p>
         </div>
 
         <div class="mb-3">
             <span class="text-muted">Statut</span>
             <span class="status-badge">{{ status }}</span>
         </div>
 
         <div *ngIf="status === 'En attente'" class="mb-3">
             <button class="btn btn-danger" (click)="cancelTransaction()">Annuler la Transaction</button>
         </div>
     </div>
 </div>